<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <% if signed_in? %>
    Signed in as: <%= current_user.email %>
    <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <% else %>
    <%= link_to 'Sign in', sign_in_path %>
    <br>
    <%= link_to 'Sign up', sign_up_path %>
    <br>
    <%= link_to 'main_page', root_path %>
    <% end %>
  </header>
    <%= yield %>
</body>
</html>
